# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Bun
bun.lockb
pubsub.db
pubsub.db-shm
pubsub.db-wal
node_modules/
.DS_Store
